@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 1rem 0;
    width: inherit;
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Poppins', sans-serif;
    background: url(https://images.unsplash.com/photo-1592659762303-90081d34b277?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
}

.flexbox{
    /* border: 1px solid green; */
    display: flex;
    width: 40rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.flex-item{
    /* border: 1px solid blue; */
    /* width: 35rem; */
    margin: .4rem 0;
}
#profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    border: outset;
    border: 10px outset rgb(0, 0, 0);

}
#profile img{
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    margin: 0;
}

#name p{
    font-size: 3rem;
    margin: 0;
    text-align: center;
    font-weight: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 2px #fff;
}
#quote p{
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    line-height: 20px;
    font-style: oblique;
    color: rgb(255, 255, 255);
}

#links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20rem;
}
.platforms{
    /* border: 1px solid yellow; */
    outline: 1px solid transparent;
    width: 14rem;
    height: 3rem;
    margin: .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* backdrop-filter: blur(4px); */
}
.platforms:hover{
    /* outline: white 1px solid; */
    /* box-shadow: 2px 2px 2px white; */
    /* border-radius: 7px; */
    font-size: 17px;
}
.platforms img{
    width: 2rem;
}
/* .platforms img:hover{
    width: 1.5rem;
} */
/* .platforms img:hover{
    width: 1.3rem;
} */
.platforms p{
    /* border-bottom: 1px solid black; */
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: left;
    margin: 0;
    color: #fff;
    /* display: inline-block; */
}
.whatsapp{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.whatsapp img{
    width: 2.5rem;
    border-radius: 2rem;
}
.whatsapp img:hover{
    width: 3rem;
    /* border-radius: 2rem; */
}
/* .platforms p:hover{
    /* border-bottom: 2px solid green;
    font-size: 17px;
} */
/* .platforms p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}
.platforms p:hover::after{
    width: 100%;
} */



#footnote{
    opacity: .3;
    padding: 3rem 0 0 0;
}
#footnote a{
    text-decoration: none;
    color: #fff;
}
#footnote p{
    margin: 0;
    text-align: center;
    font-size: 12px;
}
#footnote p img{
    width: 1rem;
    height: 1rem;
}

@media (max-width: 600px){
    body{
        /* padding: 1rem; */
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
    }
    .flexbox{
        width: 100%;
    }
    .flex-item{
        margin: .8rem;
    }
    #profile a img{
        width: 10rem;
        height: 10rem;
    }
    #name p{
        font-size: 2.5rem;
        margin: 0;
    }
    #links{
        width: 100%;
        /* align-items: left;
        justify-content: start; */
    }
    .platforms{
        border: none;
        outline: none;
    }
    .platforms p{
        font-size: 20px;
    }
    #quote p{
        font-size: 22px;
    }
    .whatsapp{
        /* position: fixed; */
        /* bottom: 30px; */
        right: 20px;
    }
}


